USE [master]
GO
/****** Object:  Database [BIBLIOTHEQUARIA]    Script Date: 13-Aug-25 15:51:00 ******/
CREATE DATABASE [BIBLIOTHEQUARIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTHEQUARIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BIBLIOTHEQUARIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTHEQUARIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BIBLIOTHEQUARIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTHEQUARIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTHEQUARIA]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 13-Aug-25 15:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](30) NOT NULL,
	[Prezime] [nvarchar](30) NOT NULL,
	[DatumUclane] [date] NOT NULL,
	[Status] [bit] NULL,
	[DatumIsteka]  AS (CONVERT([date],dateadd(month,(3),[DatumUclane]))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transakcija]    Script Date: 13-Aug-25 15:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transakcija](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DatumPosudbe] [date] NOT NULL,
	[DatumVracanja] [date] NULL,
	[IDKnjige] [int] NOT NULL,
	[IDClana] [int] NOT NULL,
	[IDUposlenika] [int] NOT NULL,
	[RokVracanja]  AS (CONVERT([date],dateadd(month,(2),[DatumPosudbe]))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClanOverview]    Script Date: 13-Aug-25 15:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ClanOverview] AS
SELECT
    c.ID, c.Ime, c.Prezime, c.DatumUclane, c.DatumIsteka,
    COUNT(t.ID) AS BorrowedCount
FROM dbo.Clan c
LEFT JOIN dbo.Transakcija t
    ON t.IDClana = c.ID AND t.DatumVracanja IS NULL
GROUP BY c.ID, c.Ime, c.Prezime, c.DatumUclane, c.DatumIsteka;
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 13-Aug-25 15:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](100) NOT NULL,
	[Autor] [nvarchar](40) NOT NULL,
	[Zanr] [nvarchar](35) NOT NULL,
	[BrojStrana] [int] NOT NULL,
	[Slobodna] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 13-Aug-25 15:51:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](20) NOT NULL,
	[E-mail] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](64) NULL,
	[PasswordSalt] [varbinary](16) NULL,
	[PasswordHashIterations] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Radnik_Email]    Script Date: 13-Aug-25 15:51:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Radnik_Email] ON [dbo].[Radnik]
(
	[E-mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transakcija_Active_ByBook]    Script Date: 13-Aug-25 15:51:01 ******/
CREATE NONCLUSTERED INDEX [IX_Transakcija_Active_ByBook] ON [dbo].[Transakcija]
(
	[IDKnjige] ASC
)
WHERE ([DatumVracanja] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transakcija_Active_ByMember]    Script Date: 13-Aug-25 15:51:01 ******/
CREATE NONCLUSTERED INDEX [IX_Transakcija_Active_ByMember] ON [dbo].[Transakcija]
(
	[IDClana] ASC
)
WHERE ([DatumVracanja] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Transakcija_BookActive]    Script Date: 13-Aug-25 15:51:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Transakcija_BookActive] ON [dbo].[Transakcija]
(
	[IDKnjige] ASC
)
WHERE ([DatumVracanja] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Radnik] ADD  CONSTRAINT [DF_Radnik_PwdIter]  DEFAULT ((120000)) FOR [PasswordHashIterations]
GO
ALTER TABLE [dbo].[Transakcija]  WITH CHECK ADD FOREIGN KEY([IDClana])
REFERENCES [dbo].[Clan] ([ID])
GO
ALTER TABLE [dbo].[Transakcija]  WITH CHECK ADD FOREIGN KEY([IDKnjige])
REFERENCES [dbo].[Knjiga] ([ID])
GO
ALTER TABLE [dbo].[Transakcija]  WITH CHECK ADD FOREIGN KEY([IDUposlenika])
REFERENCES [dbo].[Radnik] ([ID])
GO
ALTER TABLE [dbo].[Transakcija]  WITH CHECK ADD  CONSTRAINT [CK_Transakcija_Dates] CHECK  (([DatumVracanja] IS NULL OR [DatumVracanja]>=[DatumPosudbe]))
GO
ALTER TABLE [dbo].[Transakcija] CHECK CONSTRAINT [CK_Transakcija_Dates]
GO
USE [master]
GO
